body{
    width:100vw;
    height:100vh;
    text-align: center;
    line-height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 5s ease infinite;
}

p{
    font-size:100px;
    font-family: "Hannari";
    color:#fff;
    margin:0;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


@media screen and (max-width:880px){
	p{
		font-size:50px;
		font-family: "Hannari";
		color:#fff;
		margin:0;
	}
}


@media screen and (max-width:480px){
	p{
		font-size:28px;
		font-family: "Hannari";
		color:#fff;
		margin:0;
	}
}